
h1 {  
  font-family: sans-serif;
  font-size: 20pt;
  line-height: 0.5;
}


#post-menu-body {
  display: flex;
  top: 50px;
}

#content-container {
  position:relative;
  top: 170px;
}



 /* Phone */

 

@media(max-width: 401px) {
  #content-container {
    top: 70px;
  }
}

 @media (min-width: 470px) {
  #content-container {
    top: 90px;
  }
  #post-menu-body {
    top: 140px;
  }
}

