h1 {  
  font-family: sans-serif;
  font-size: 20pt;
  line-height: 0.5;
}

.example_c {
  color: #fff !important;
  text-decoration: none;
  background: #1bb122;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.example_c:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/*
#wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  padding: 10px;
  border: 1px solid black;
}

header {
  grid-column-start: 1;
  grid-column-end:  4;
}

.container .large {
  grid-row-start: 2;
  grid-row-end:  span 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

*/


#content-container {
  position:relative;
  top: 120px;
  display: flex;
  flex-wrap: wrap;
}


.container {
  flex: 1;
  margin: 20px 10px 0 0;
}

.container p {
  font-size: 12pt;
}
.button_cont {
  text-align: center;
}

.container:nth-child(2) {
  background-color:burlywood;
  padding: .4em;
}


.nav2 { 
  position: absolute;
  top: 177px;
  width: auto;
  margin: 0px 0px 20px -5px;
  padding: 0 0 0 0;
  background-color: #31363e;
  z-index: 0;  
  overflow: auto;
}

.nav2 ul { 
 margin: 0 0 0px 0px;
 padding: 5px 5px 5px 5px;
 background-color: #31363e;
}

                        
.nav2 li {
  list-style: none;
  float: left;
  margin: 7px;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
  letter-spacing: 2px;  
  border: 5px;
  border-color: #31363e; 
}

.nav2 li a {  
  float: left;
  vertical-align: middle;
  padding: 10px 12px;
  text-decoration: none;
  color: #e7e3d9;
  border: none;
  
 
}

.nav2 li a.selected {
  background: white;
  color: red;
 
}

.nav2 li .selected {
  border: 5px;
  border-color: #31363e;
}

.nav2 li a:hover {
  color: red;
 
}

@media (max-width: 575px) {
  .nav2 {
    top: 150px;
  }
}

 /* Phone */
 @media (max-width: 470px) {
  #content-container {
    top: 90px;
  }
  #post-menu-body {
    top: 70px;
  }

  .nav2 {
    top: 150px;
  }

  /* Hide 4th table col when too narrow*/
  .table-image th:nth-child(4) {
    display:none;
  }
}

