.omb {
  position: absolute;
  top: 150px;
  right: 150px;
  z-index: 1;
}

.left-pane {
  position: absolute;
  top: 175px;
  left: 0px;
  width: 400px;
  overflow-x: hidden;
 
}

#map {
  width: 100%; 
  height: 100%;
}

#compass {
  position: absolute;
  left: 65px;
  top: 880px;
  width: 200px;
  
}

.pill {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.announcement {
  color: white;
  padding: 5px;
  text-align: center;
  text-shadow:3px 3px 3px rgb(63, 97, 160) 
}

#scans {
  position: absolute;
  top: 175px;
  left: 401px;
  overflow: hidden;
  width: 60%;
  height: auto;
  background: #31363e;
  margin: 0px;
  padding: 0px;
}

#scans ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: baseline;
padding: 5px;
margin: 5px;
}

#scans ul li {
  list-style: none;
  width: 340px;
  height: auto;
  text-align: center;
  /* background: skyblue; */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid red;
}

div.location {
  transform: translateY(-25px);
}
/*
div.timer {
  transform: translateY(-10px);
}
*/
.age-green {
  background-color:aquamarine;
}

.age-yellow {
  background-color:rgb(183, 194, 119);
}
.age-orange {
  background-color:rgb(245, 192, 77);
}
.age-brown {
  background-color:rgb(121, 95, 40);
}

.label-wrap  {
  display: flex;
  font-size: 20pt;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px;
  margin: 0px;
  cursor: grab;
}

.label-wrap li {
  list-style: none;
  vertical-align: middle;
  /* text-align: center; */

}

.tile-title {
  margin-left:auto;
  margin-right: auto;
}

.tlabel {
  font-weight: bold;
  display: inline-block;
  width: 105px;
  text-align: right;
}

.tile-body {
  
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: left;
  
  height: auto;
  transition: background-color 2s;
}

#history {
  background-color: greenyellow;
  border: 4px solid black;
  text-align: center;
  border-radius: 10%; 
  padding: 5px;
  font-weight: bold;
  float: right;
}

.on{
  animation: slide 1s linear forwards;
}

@keyframes slide {
  0% {transform: translateY(-250px);  opacity: 0; }
  
  50% {transform: translateY(-50px); opacity: 1;  }
  
  100% { transform: translateY(-20px); opacity: 1;}
} 

.bullet {  
  display: inline-block;
  background: black;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 50%;
}

.bullet.reached {
  background: blue;
}

h3 {
  color: white;
  background-color:rgb(63, 97, 160);
  margin-block: 0.2em;
  padding: 2px;
}

.map-label {
  font-size:smaller;
  border: 2px solid white;
  border-radius: 50%;  
  width: 1em;
  background-color: #ee5446;
}

img.vessel-img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

img.dir-img {
  margin-left: auto;
  margin-right: auto;
  height: 25px;
}

.zoomed {
  background: red;
}



@media (max-width: 400px) {
  .left-pane { 
    top: 110px; 
    height: 600px;
    width: 100vw;
  }

  #compass {
    display: hide;
    opacity: 0;
  }

  #scans {
    left: 0px;
    top: 700px;
    width: 100vw;

  }

}

@media (min-width: 401px){
  .left-pane { 
    top: 145px; 
    height: 450px;
    width: 100vw;
  }

  #compass {
    display: hide;
    opacity: 0;
  }

  #scans {
    left: 0px;
    top: 600px;
    width: 100vw;
  
  }
}

@media (min-width: 770px) {
  .left-pane { 
    top: 175px;  
    height: 700px;
    width: 400px;
  }

  #compass {
    display: block;
    opacity: 1;
  }

  #scans {
    left: 401px;
    top: 175px;
    width: 70%;
  }
}


