h1 {  
  font-family: sans-serif;
  font-size: 20pt;
  line-height: 0.5;
}

img.vessel {
  height: 150px;

}


ul.vessels-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 2px;
    padding: 0;
  
}  
  
li.vessels-list {
    list-style: none;
    float: left;
    margin: 2px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 12pt;
    letter-spacing: 2px;  
    border: 5px;
    border-color: #31363e; 
}

table {
  width: 800px;
}

th, td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: rgb(153, 158, 158);
}

tr:nth-child(odd) {
  background-color: rgb(93, 221, 221);
}

.img-container {
  width: 800px;
  
  
}

.img-container img { 
  padding: 5px;
  float: right;
}