<!--  js/templates/othervesseldata.ko.tmpl
      knockout.js template used by js/livescan.js in views/livescan.php
      @author bgtalkingdog Updated 2020-09-18
-->
<template id='other-vessel-data'>
            <h3>Other Data</h3>
            <img class="vessel-img" data-bind="visible: hasImage, attr:{ src:imageUrl}"/> 
            <div class="block">
              <span class="tlabel">Vessel Type:</span>
              <span class="ttext" data-bind="text: type"></span>
            </div>
            <div class="block">
              <span class="tlabel">MMSI:</span>
              <span class="ttext" data-bind="text: id"></span>
            </div>
            <div class="block">
              <span class="tlabel">Call Sign:</span>
              <span></span>
              <span class="ttext" data-bind="text: callsign"></span>
            </div>                
            <div class="block">
              <span class="tlabel">Length:</span>
              <span></span>
              <span class="ttext" data-bind="text: length"></span>
            </div>
            <div class="block">
              <span class="tlabel">Width:</span>
              <span></span>
              <span class="ttext" data-bind="text: width"></span>
            </div>
            <div class="block">
              <span class="tlabel">Draft:</span>
              <span></span>
              <span class="ttext" data-bind="text: draft"></span>
            </div>
</template>