<!--  js/templates/othervesseldata.ko.tmpl
      knockout.js template used by js/livescan.js in views/livescan.php
      @author bgtalkingdog Updated 2020-09-17
-->
            <h3>Other Data</h3>
            <img class="vessel-img" data-bind="visible: $data.hasImage, attr:{ src:$data.imageUrl}"/> 
            <div class="block">
              <span class="tlabel">Vessel Type:</span>
              <span class="ttext" data-bind="text: $data.type"></span>
            </div>
            <div class="block">
              <span class="tlabel">MMSI:</span>
              <span class="ttext" data-bind="text: $data.id"></span>
            </div>
            <div class="block">
              <span class="tlabel">Call Sign:</span>
              <span></span>
              <span class="ttext" data-bind="text: $data.callsign"></span>
            </div>                
            <div class="block">
              <span class="tlabel">Length:</span>
              <span></span>
              <span class="ttext" data-bind="text: $data.length"></span>
            </div>
            <div class="block">
              <span class="tlabel">Width:</span>
              <span></span>
              <span class="ttext" data-bind="text: $data.width"></span>
            </div>
            <div class="block">
              <span class="tlabel">Draft:</span>
              <span></span>
              <span class="ttext" data-bind="text: $data.draft"></span>
            </div>